<div class="container my-4 stu_form" >
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card shadow">
                <div class="card-header">
                    <h1>Add New User</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="my-3">
                            <label for="">Name</label>
                            <input  class="form-control" name="name" type="name">
                        </div>
                        <div class="my-3">
                            <label for="">Email</label>
                            <input class="form-control" name="email" type="email">
                        </div>
                        <div class="my-3">
                            <label for="">Cell</label>
                            <input class="form-control" name="cell" type="name">
                        </div>
                        <div class="my-3">
                            <label for="">Photo</label>
                            <br>
                            <img class="preload_student mb-3" alt="">
                            <br>
                            <label for="file_upload">
                                <img class="upload_img" src="/images/images.png" alt="">
                            </label>
                            <input name="photo1" id="file_upload" multiple type="file">
                        </div>
                        <div class="my-3">
                            <label for="">Upload your CV</label>
                            <br>
                            <input name="cv" type="file">
                        </div>
                        <div class="my-3">
                            <input class="btn btn-primary form-control"  type="submit" value="Submit">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>